---
---
@import "meyer-reset";
@import url(https://fonts.googleapis.com/css?family=Merriweather);

$text-color: #444;
$text-color-dark: #222;

body {
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  color: $text-color;
  font-family: 'Merriweather', serif;
  padding: 2em;
}

div.container {
  max-width: 32em;
  margin: 1em auto;
}

main {
}

h1 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  color: $text-color-dark;
  font-weight: 100;
}

h2 {
  font-size: 1.25rem;
  color: $text-color-dark;
  margin-top: 2rem;
}

h2, p, li {
  margin-bottom: 1rem;
}

ul li {
  list-style-type: circle; 
}

ol {
  padding-left: 1.1rem;
  li {
    list-style-type: decimal;
  }
}

article {
  img {
    max-width: 150%;
    display: block;
    margin: 0 -25%;
  }

  time {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

footer {
  margin-top: 3rem;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
  white-space: pre;
}
